$primary-color: #272727;
$secondary-color: #ff652f;
$text-Color: #f3f3f3;
$font-weight:(
    "regular": 400,
    "medium": 500,
    "bold": 700,
);
$mobile: 768px;

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@function set__text-color($color){
    @if (lightness($color) > 40%){
        @return #000000;
    } @else {
        @return #ffffff;
    }
}