.about {
    display: grid;
    background: $text-color;
    padding: 5rem 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    color: $primary-color;
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);


    h1 {
        font-size: 2rem;
        font-weight: weight(bold);
        border-bottom: 1px solid $primary-color;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.15rem;
        font-weight: weight(regular);
        margin-top: 1rem;
    }

    ul {
        text-align: left;

        li {
            margin-top: 0.25rem;
            ul {
                margin-left: 1rem;
            }
        }
    }
}