.projects {
    background: $primary-color;
    text-align: center;
    color: $text-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5rem;


    h1 {
        font-size: 2rem;
        font-weight: weight(bolder);
        border-bottom: 1px solid $text-color;
        display: inline-block;
        padding-bottom: 0.5rem;
        margin-top: 3rem;
    }

    
    
    .items {
        height: fit-content;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 3rem;
        
        &__title {
            flex: 100%;
            h2 {
                font-size: 1.8rem;
                font-weight: weight(bold);
                display: inline-block;
                border-bottom: 1px solid $text-color;
                margin-top: 2rem;
                margin-bottom: 1.2rem;
            }
        }

        &__canvas {
            height: 100%;
            padding: 1rem;
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            cursor: pointer;
            transition: all 0.2s;
            transform: scale(0.98);
            background: rgba(255,255,255,0.1);
            display: inline-flex;

            .item {
                width: 560px;
                height: fit-content;
                margin: 1.5rem 2rem;
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: space-between;
                font-size: 1.5rem;
                font-weight: 100;
                color: $text-color;
            
                &__title {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 1.5rem;
                    h3 {
                        @include transition-ease;
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                    .git {
                        font-size: 2rem;
                        margin-left: 3rem;
                        @include transition-ease;
    
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }

                
                img {
                    height: 280px;
                    width: 560px;
                }
            }
        }
        
        .active {
            background: rgba(255,255,255,0.3);
            cursor: grabbing;
            transform: scale(1);
        }  
    }
}