.projects {
	text-align: center;
	padding: 5rem 1rem;
	
	h1 {
		font-size: 2rem;
		font-weight: weight(bold);
		margin-bottom: 3rem;
		border-bottom: 1px solid $text-color;
	}

	.owl-carousel {
		display: flex;
		flex-wrap: wrap;
		
		.item {
			flex: 1;
			user-select: none;
			
			&__title {
				display: flex;
				height: 3rem;
				justify-content: space-between;
				align-items: center;
				
				h2 {
					font-size: 1.5rem;
					font-weight: weight(medium);
					@include hover-secondary;
				}
				
				.git {
					@include hover-secondary;
					font-size: 2rem;
				}
			}

			&__tech {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				height: 3rem;
				font-size: 2rem;
				position: absolute;
				bottom: -1px;
				right: -1px;
				z-index: 25;
				background: $primary-color;
				border-radius: 1rem 0 0 0;
				border: 1px solid $primary-color;

				svg {
					margin: 1rem;
					color: $text-color;
				}
			}
		}

		.owl-stage {
			display: flex;
		}
	}
}

@include media-md {
	.projects {
		padding: 3rem;
		h1 {
			margin-top: - .475rem;
		}
	}
}

@include media-lg {
	.projects {
		margin-top: 0;
		padding: 5rem;
	}
}
.owl-nav {
    display: none;
}

.owl-dots {
	margin-top: 1.5rem;
	display: flex;
	width: 100%;
	justify-content: center;
	&:active, &:focus, &:hover {
		border: none;
	}
}

