.projects {
	text-align: center;
	padding: 5rem;
	
	h1 {
		display: inline-block;
		font-size: 2rem;
		font-weight: weight(bold);
		margin-bottom: 3rem;
		padding-bottom: .5rem;
		border-bottom: 1px solid $text-color;
	}

	.owl-carousel {
		display: flex;
		flex-wrap: wrap;
		
		.item {
			flex: 1;
			user-select: none;
			
			&__title {
				display: flex;
				height: 3rem;
				justify-content: space-between;
				align-items: center;
				
				h2 {
					font-size: 1.5rem;
					font-weight: weight(medium);
					@include hover-secondary;
				}
				
				.git {
					@include hover-secondary;
					font-size: 2rem;
				}
			}

			&__tech {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				height: 3rem;
				font-size: 2rem;
			}
		}

		.owl-stage {
			display: flex;
		}
	}
}

