@import './resets';
@import './variables';

@function weight($weightname){
    @return map-get($fontweight, $weightname );
};

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
};

@mixin theme($light: true) {
    @if $light {
        background: lighten($primaryColor, 100%);
        color: darken($textColor, 100%);
    };
};

@mixin mobile {
    @media (max-width: $mobile){
        @content;
    }
}

body {
    background: $primaryColor;
  
    color: $textColor;
    
};

.main {
    @include flexCenter(row);
    width: 80%;
    margin: 1em auto;

   #{&}Paragraph1 { //sendo o # indicando que é dentro do parente, e o & indicando que tem o parente compondo a classe.
        font-family: Arial, Helvetica, sans-serif;
        font-weight: weight(regular);

    &:hover{
    color: pink;
    }
    };

    #{&}Paragraph2{
        @extend .mainParagraph1;

        &:hover{
            color: aquamarine;
        }
    }

    @include mobile{
        flex-direction: column;
    }
};

.light{
    @include theme(false);
};

